.imagePage h1 {
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  border-bottom: 3px solid black;
}

body.dark .imagePage h1 {
  border-bottom-color: hsl(0, 0%, 90%);
}

.imagePage p {
  line-height: 1.5;
  font-size: 1.25em;
  margin-bottom: 1em;
}

.imagePage .columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
}

.imagePage .heading {
  grid-area: 1 / 1 / 2 / 2;
  padding-right: 1em;
}

.imagePage .info {
  grid-area: 2 / 1 / 4 / 2;
  padding-right: 1em;
  margin-bottom: 2em;
}

.imagePage .preview {
  grid-area: 1 / 2 / 3 / 3;
}

.imagePage .mainImage {
  width: 100%;
  border: 3px solid black;
  display: block;
  margin-bottom: 1em;
}

body.dark .imagePage .mainImage {
  border-color: hsl(0, 0%, 90%);
}

@media (max-width: 920px) {
  .imagePage .columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .imagePage .heading {
    padding-right: 0;
  }

  .imagePage h1 {
    border: 0;
    margin-bottom: 0.5em;
  }

  .imagePage .info {
    grid-area: 3 / 1 / 4 / 2;
    padding-right: 0;
  }

  .imagePage .preview {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media (max-width: 800px) {
  .imagePage .mainImage {
    border-width: 2px;
  }
}
