.siteFooter {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 3px solid black;
  text-align: center;
}

body.dark .siteFooter {
  border-color: hsl(0, 0%, 90%);
}

@media (max-width: 800px) {
  .siteFooter {
    padding-top: 0.5em;
    border-top-width: 2px;
  }
}

.siteFooter p {
  font-size: 0.85em;
  line-height: 1.25;
}

.siteFooter p:not(:last-child) {
  margin-bottom: 1em;
}
