.socialNavigation {
  margin-bottom: 1em;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .socialNavigation {
    margin-bottom: 0.5em;
  }
}

.socialNavigation > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.socialNavigation > ul:hover > li {
  transition: opacity 0.25s;
}

.socialNavigation > ul:hover > li,
.socialNavigation > ul:active > li,
.socialNavigation > ul:focus-within > li {
  opacity: 0.33;
}

.socialNavigation > ul:hover > li:hover,
.socialNavigation > ul:active > li:active,
.socialNavigation > ul:focus-within > li:focus-within {
  opacity: 1;
}

.socialNavigation > ul a {
  display: flex;
}

.socialNavigation > ul img {
  width: 3em;
  transition: transform 0.25s;
}

.socialNavigation > ul:hover > li:hover img,
.socialNavigation > ul:active > li:active img,
.socialNavigation > ul:focus-within > li:focus-within img {
  transform: scale(0.9);
}

@media (max-width: 1080px) {
  .socialNavigation > ul img {
    width: 2.5em;
  }
}

@media (max-width: 800px) {
  .socialNavigation > ul img {
    width: 2em;
  }
}
