.socialNavigation {
  margin-bottom: 1em;
}

@media (max-width: 800px) {
  .socialNavigation {
    margin-bottom: 0.5em;
  }
}

.socialNavigation > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.socialNavigation > ul a {
  display: flex;
}

.socialNavigation > ul img {
  width: 3em;
}

@media (max-width: 1080px) {
  .socialNavigation > ul img {
    width: 2.5em;
  }
}

@media (max-width: 800px) {
  .socialNavigation > ul img {
    width: 2em;
  }
}
