.shopCategory:not(:last-child) {
  margin-bottom: 5em;
}

.shopCategory h2 {
  font-family: "Urbanist", sans-serif;
  margin-bottom: 0.5em;
  font-size: 2em;
}

@media (max-width: 800px) {
  .shopCategory h2 {
    font-size: 1.5em;
  }
}

.shopCategory .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

@media (max-width: 1080px) {
  .shopCategory .images {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .shopCategory .images {
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }
}

@media (max-width: 480px) {
  .shopCategory .images {
    grid-template-columns: 1fr;
  }
}

.shopCategory .image {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center center;
  border: 3px solid black;
}

@media (max-width: 800px) {
  .shopCategory .image {
    border-width: 2px;
  }
}
